<!-- <div class="col-xs-12 col-sm-6"> -->
  <div class="persona-card col-xs-12 col-sm-6" id='{{persona}}-card' style="background-color: {{bgColour}}">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img src="/images/avatar.png" alt="{{persona}}" class='avatar'>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8 persona-story collapsed">
        <h2 class='persona-name'>{{persona}}</h2> {{{story}}}
      </div>
      <div class="story-mask">
        <a href="#" class='toggle-view'>View more...</a>
      </div>
    </div>

    <div class="row" style='border-top: 1px solid white; padding-top: 10px;'>

      <div class="col-xs-12 col-sm-6 category">
        <h4 class='category-title'>Out of Pocket Costs</h4>
        <div class="row">
          <div class="col-xs-8">
            <span class='sub-category-title'>Child Care Cost With Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-childCareLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Child Care Cost No Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-childCareNoLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Legal Fees With Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-feesLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Legal Fees Without a Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-feesNoLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Resolved In Mediation</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-mediation'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Lost Income</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-lostIncome'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Transport</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-transport'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Moving</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value oop-moving'></span>
          </div>
          <!-- <div class="col-xs-6 top-border-white">
              <span class='sub-category-title'>Total</span>
            </div>
            <div class="col-xs-6">
              <span class='sub-category-value'><span class='oop-total'></span></span>
            </div> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 category">
        <h4 class='category-title'>Impact</h4>
        <div class="row">
          <div class="col-xs-8">
            <span class='sub-category-title'>Child Care Days With Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value impact-childCareDaysLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Child Care Days No Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value impact-childCareDaysNoLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Court Events</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value impact-courtEvents'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Prep Days With Lawyer</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value impact-prepDaysLawyer'></span>
          </div>
          <div class="col-xs-8">
            <span class='sub-category-title'>Prep Days No Lawyer</span>
          </div>

          <div class="col-xs-4">
            <span class='sub-category-value impact-prepDaysNoLawyer'></span>
          </div>

          <div class="col-xs-8">
            <span class='sub-category-title'>Instability</span>
          </div>
          <div class="col-xs-4">
            <span class='sub-category-value impact-instability'></span>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
